In [34]:
# Import BeautifulSoup
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [35]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "c:\\Users\\mwals\\Desktop\chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

## NASA Mars News

In [3]:
# Visit the following URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")
time.sleep(2)

In [5]:
news_title = soup.find('div', class_='content_title').text

In [6]:
print(news_title)

NASA Invites Students to Name Mars 2020 Rover

In [7]:
time.sleep(2)
news_p = soup.find('div', class_="article_teaser_body").text

In [8]:
print(news_p)

Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

## JPL Mars Space Images - Featured Image

In [9]:
# Visit the following URL
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
jpl = "https://www.jpl.nasa.gov"
browser.visit(url)

In [10]:
xpath = '//*[@id="full_image"]'
# xpath for image

In [11]:
# Use splinter to Click the image to bring up the full resolution image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()
time.sleep(3)

In [12]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

img_desc = soup.find('div', class_="fancybox-inner fancybox-skin fancybox-dark-skin fancybox-dark-skin-open")

image = img_desc.find('img')
image['src']

'/spaceimages/images/mediumsize/PIA19639_ip.jpg'

In [13]:
featured_image_url = jpl + image['src']

In [14]:
print('featured_image_url = ' + featured_image_url)

featured_image_url = https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19639_ip.jpg

## Mars Weather

In [15]:
# Visit the following URL
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [16]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [17]:
tweet = soup.find_all('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")

In [18]:
print(tweet[0].text)

We won’t be hearing from @MarsCuriosity or @NASAInSight for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years: https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/ …pic.twitter.com/fWruE2v151

In [19]:
z=0
for x in tweet:
    if tweet[z].text.split(' ', 1)[0] == 'InSight':
        mars_weather = tweet[z].text #_Mars weather
        break
    else:
        z+=1
# Scrapes for Mars weather

In [20]:
print(mars_weather)

InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)
winds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.50 hPapic.twitter.com/9YLawm67zS

## Mars Facts

In [36]:
#import pandas as pd
# Visit the following URL
url = "https://space-facts.com/mars/"
browser.visit(url)

In [37]:
tables = pd.read_html(url)
tables
# Scrape table of Mars facts

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [38]:
type(tables)

list

In [39]:
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [46]:
df = tables[1]
#df = df.values
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [47]:
df = tables[1]
df.columns = [' ', 'Value']
df.head(10)

                                                 Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [26]:
html_table = df.to_html(index=False)
# df_html = df.to_html()
# df_html
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [28]:
#import time
# Visit the following URL
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [29]:
hemisphere_image_urls = []

In [30]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

img_list =[]
img_url_list = []
title_list = []
hemi=1
count=1
x=0
kiki=[]

url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
xpath = ('//*[@id="product-section"]/div[2]/div[' + str(hemi) +']/div/a/h3')
while count < 5:

    browser.visit(url)

    hemi_name = browser.find_by_xpath(xpath).text
    print(hemi_name)
    title_list.append(hemi_name)
    
    results = browser.find_by_xpath(xpath)

    img = results[0]
    img.click()
    time.sleep(3)

    # Scrape page into Soup
    html = browser.html
    soup = bs(html, "html.parser")
    img_desc = soup.find('div', id="wide-image")
    img_src = img_desc.find('div',class_='downloads')
    image = img_src.find('a')
    if image.has_attr('href'):
        target_img = image.attrs['href']
        print(str(image.attrs['href']))
        #print(str(image))

    img_url_list.append(target_img)

    hemi+=1
    xpath = ('//*[@id="product-section"]/div[2]/div[' + str(hemi) +']/div/a/h3')
    count+=1
    x+=1

Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [31]:
#img_url_list

In [32]:
#title_list

In [33]:
hemisphere_image_urls = []
h=0
for items in title_list:
    if h < 4:
        dict = {"title": title_list[h], "img_url": img_url_list[h]}
        hemisphere_image_urls.append(dict)
        h+=1
print('hemisphere_image_urls')
hemisphere_image_urls

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

# END